* {
  padding: 0;
  margin: 0;
}
body {
  background: url("./img/bg.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  background: linear-gradient(rgb(164, 207, 164), rgb(182, 182, 112));
  width: 90vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgb(224, 137, 137), rgb(219, 219, 109));
  border: 2px solid rgb(89, 41, 89);
  transform: scale(1.02);
  border-radius: 9px;
}
.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}
#score {
  position: absolute;
  top: 9px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
}
#hiscoreBox {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 40px;
  font-weight: bold;
}
.food {
  background-color: yellow;
  border: 0.25vmin solid black;
  border-radius: 10px;
}

#play,
img {
  display: none;
}

@media only screen and (max-width: 600px) {
  #play,
  img {
    display: block;
  }
  body {
    background: url("./img/bg.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  #board {
    background: linear-gradient(rgb(164, 207, 164), rgb(182, 182, 112));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-top: 3rem;
  }

  ul {
    display: flex;
  }
  .arrow {
    width: 90vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* background-color: white; */
    margin-top: 0.8rem;
  }
  #updown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .left-arrow {
    background-color: yellow;
 
  }

  .right-arrow {
    background-color: green;
   
  }

  .up-arrow {
    background-color: teal;
   
  }
  .down-arrow {
    background-color: purple;
  } */

  #right {
    transition: 0.3s ease-in-out;
  }
  #left {
    transition: 0.3s ease-in-out;
  }

  #up {
    margin-bottom: 5rem;
    transition: 0.3s ease-in-out;
  }
  #down {
    transition: 0.3s ease-in-out;
  }

  #score {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  #hiscoreBox {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .button-active {
    /* border: 2px solid red;
    background-color: yellow; */
    transform: scale(1.5); /* Add a scale transform for the animation */
  }

  #play {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(25, 4, 24);
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    width: 80%;
  }
  #play:hover{
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(248, 131, 242);
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    width: 80%;
  }
}
